html
{
    background-color: #f3f4f4;
}
.blog-post {
    margin: 20px 5px;

    span {
        margin-right: 5px;
    }

    h1 {
        display: inline-block;
        font: {
            weight: bold;
            size: 20px;
        }
    }

    .post-title {
            font: {
                size: 50px;
            }
    }
    .description {
        margin-left: 15px;
    }

    .anchor {
        display: inline;
        font: {
            size: 20px;
            weight: normal;
        }
    }
}

