body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.social-button a {
  display: block;
  color: white;
  font-size: 20px;
  margin: auto 5px;
  width: 30px; }

.social-button a:hover {
  background-color: #999999; }
