@import 'bulma/sass/utilities/initial-variables.sass';

// 2. Set your own initial variables
// Update blue

// Add a serif family
//$family-serif: "Merriweather", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $purple;
$primary-invert: $white-bis;
$link: $purple;


// Use the new serif family
//$family-primary: $family-serif;

@import 'bulma/bulma.sass';